// User variables:
$accent: #1de9b6
$dark-blue: #061e37
$white-color: #fff
$smoky-color: #b0bec5
$smoky-blue-color: #90a4ae
$green-color: #1de9b6

$transition: 0.4s
$transform-translate: translate(0px, -3px)

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px
$gutter: $grid-gutter-width

// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
